/* @media only screen and (max-width:750px) {

} */
@media only screen and (min-width: 751px) {
.Services {    
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px;
    margin: 0 2em;
}}
/* .Services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 2em;
} */
.Services * {
    font-family:  'Playfair Display', serif;
}
.Services a {
    grid-column: 1/4;
}
.Services h1 {
    text-decoration: none;
    grid-column: 1/4;
    color: #353154;
    /* margin: 0px 200px 10px 200px;
    padding: 50px 0px;
    border-bottom: grey solid 1px; */
}
.service {
    background: #dddddd;
    color: #353154;
    border-radius: 20px;
    text-decoration: none;
    margin: 2em;
}
img {
    width: 225px;
    height: 150px;
}
div.service img:hover {
    border: #5c5c5f 2px solid;
}
div.service {
    padding: 4rem;
}
div.service p {
    padding: 0px 2rem;
}
div.service a {
    color: #353154;
    text-decoration: none;
}
div.service a:hover {
    color: purple;
}
div.service span {
    text-decoration: underline;
}
div.service span:hover {
    color: #91738b; 
}
div.service * {
    font-family: 'Playfair Display', serif;
}